<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Ysoup.TokenMemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clipkeyboard</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>카드나 문서를 촬영해 텍스트를 인식하기 위해 카메라 접근이 필요합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>clipkeyboard://open</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Ysoup.TokenMemo.beacon-flush</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
